// 自定义变量
@main-color: #6247aa;
@secondary-color: #815ac0;
@sub-color: #a06cd5;

// antd变量
@layout-header-background: @main-color;
@heading-color: @main-color;
@primary-color: @main-color;
@link-color: @main-color;
@layout-header-height: 50px;
